In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
df = pd.read_csv('titanic.csv')
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
df.info()

In [ ]:
df.describe()

In [7]:
# Cabin column maximum values are null that's why drop this column.
df = df.drop(columns = 'Cabin',axis = 1)

In [ ]:
df.head()

In [9]:
# Replacing the age missing value of the mean value of age column.
df['Age'].fillna(df['Age'].mean(),inplace = True)

In [10]:
df['Embarked'].mode()

0    S
Name: Embarked, dtype: object

In [11]:
# Replacing the embarked missing value based on the maximum number of the values.
df['Embarked'].fillna(df['Embarked'].mode()[0],inplace = True)

In [ ]:
df.isnull().sum()

In [17]:
df['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [23]:
# Converting the categorical column..
df.replace({'Sex':{'male':0,'female':1},'Embarked':{'S':0,'C':1,'Q':2}},inplace = True)

In [25]:
x = df.drop(columns = ['PassengerId','Name','Ticket','Survived'])
y = df['Survived']

In [ ]:
x
y

In [29]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3)
model = LogisticRegression()
model.fit(x_train,y_train)
x_pred = model.predict(x_train)
accuracy_score(y_train,x_pred)

0.8154093097913323